@import "~materialize-css/dist/css/materialize.min.css";

.row {
    display: flex;
    justify-content: space-between;
}
.card {
    width: 300px;
    height: 450px;
    color: black;
}

.card-image{
    width:200px;
    height: 200px;
    margin: 50px;
}

.b-large {
    position: absolute;
    top: 15ch;
    right:3ch;
    transform: translateY(-50%);
}

.b {
    display:grid;
}

.b-main {
    margin-left: 25%;
}



