@import "~materialize-css/dist/css/materialize.min.css";

.row {
    display: flex;
    justify-content: space-between;
}
.card {
    width: 300px;
    height: auto;
    color: black;
}

.card-image{
    width:200px;
    height: 200px;
    margin: 50px;
}